In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("data/instagram_data.csv")
df

,likes,no_of_comments,t,follower_count_at_t,image_path
0,154552,0,1594174009,40934474,../Data/insta_data/0.jpg
1,97386,0,1593571666,40934474,../Data/insta_data/2.jpg
2,145632,0,1593136341,40934474,../Data/insta_data/4.jpg
3,76461,0,1592981047,40934474,../Data/insta_data/6.jpg
4,174620,0,1592703461,40934474,../Data/insta_data/8.jpg
...,...,...,...,...,...
3780,341895,6029,1555164674,4229627,../Data/insta_data/9435.jpg
3781,217095,2591,1554706282,4229627,../Data/insta_data/9436.jpg
3782,17902,253,1553945996,4229627,../Data/insta_data/9437.jpg
3783,141694,1175,1552645088,4229627,../Data/insta_data/9442.jpg
3784,95348,675,1551937608,4229627,../Data/insta_data/9444.jpg

In [3]:
df['filename'] = df['image_path'].apply(lambda x: x.replace("../Data/", "./data/"))
df

,likes,no_of_comments,t,follower_count_at_t,image_path,filename
0,154552,0,1594174009,40934474,../Data/insta_data/0.jpg,./data/insta_data/0.jpg
1,97386,0,1593571666,40934474,../Data/insta_data/2.jpg,./data/insta_data/2.jpg
2,145632,0,1593136341,40934474,../Data/insta_data/4.jpg,./data/insta_data/4.jpg
3,76461,0,1592981047,40934474,../Data/insta_data/6.jpg,./data/insta_data/6.jpg
4,174620,0,1592703461,40934474,../Data/insta_data/8.jpg,./data/insta_data/8.jpg
...,...,...,...,...,...,...
3780,341895,6029,1555164674,4229627,../Data/insta_data/9435.jpg,./data/insta_data/9435.jpg
3781,217095,2591,1554706282,4229627,../Data/insta_data/9436.jpg,./data/insta_data/9436.jpg
3782,17902,253,1553945996,4229627,../Data/insta_data/9437.jpg,./data/insta_data/9437.jpg
3783,141694,1175,1552645088,4229627,../Data/insta_data/9442.jpg,./data/insta_data/9442.jpg
3784,95348,675,1551937608,4229627,../Data/insta_data/9444.jpg,./data/insta_data/9444.jpg

In [4]:
df['t_zeroed'] = (df['t'] - df['t'].min())//1000
print(df['t'].max() - df['t'].min())

104994294

In [5]:
# shuffle data
df = df.sample(frac=1).reset_index(drop=True)

In [6]:
# standardize data
df['t_zeroed'] = (df['t_zeroed'] - df['t_zeroed'].mean()) / df['t_zeroed'].std()
df['no_of_comments'] = (df['no_of_comments'] - df['no_of_comments'].mean()) / df['no_of_comments'].std()
df['follower_count_at_t'] = (df['follower_count_at_t'] - df['follower_count_at_t'].mean()) / df['follower_count_at_t'].std()
#save std and mean of likes to a file
mean_likes = df['likes'].mean()
std_likes = df['likes'].std()
np.save('mean_likes.npy', mean_likes)
np.save('std_likes.npy', std_likes)
df['likes'] = (df['likes'] - df['likes'].mean()) / df['likes'].std()

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [9]:
# split train into train and validation
train_df, val_df = train_test_split(train_df, test_size=0.2, random_state=42)

In [10]:
train_df.to_csv("train.csv", index=False)
val_df.to_csv("val.csv", index=False)
test_df.to_csv("test.csv", index=False)