In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("instagram_data.csv")
df

,likes,no_of_comments,t,follower_count_at_t,image_path
0,154552,0,1594174009,40934474,../Data/insta_data/0.jpg
1,97386,0,1593571666,40934474,../Data/insta_data/2.jpg
2,145632,0,1593136341,40934474,../Data/insta_data/4.jpg
3,76461,0,1592981047,40934474,../Data/insta_data/6.jpg
4,174620,0,1592703461,40934474,../Data/insta_data/8.jpg
...,...,...,...,...,...
3780,341895,6029,1555164674,4229627,../Data/insta_data/9435.jpg
3781,217095,2591,1554706282,4229627,../Data/insta_data/9436.jpg
3782,17902,253,1553945996,4229627,../Data/insta_data/9437.jpg
3783,141694,1175,1552645088,4229627,../Data/insta_data/9442.jpg
3784,95348,675,1551937608,4229627,../Data/insta_data/9444.jpg

In [9]:
df['filename'] = df['image_path'].apply(lambda x: x.replace("../Data/", ""))
df

,likes,no_of_comments,t,follower_count_at_t,image_path,filename
0,154552,0,1594174009,40934474,../Data/insta_data/0.jpg,insta_data/0.jpg
1,97386,0,1593571666,40934474,../Data/insta_data/2.jpg,insta_data/2.jpg
2,145632,0,1593136341,40934474,../Data/insta_data/4.jpg,insta_data/4.jpg
3,76461,0,1592981047,40934474,../Data/insta_data/6.jpg,insta_data/6.jpg
4,174620,0,1592703461,40934474,../Data/insta_data/8.jpg,insta_data/8.jpg
...,...,...,...,...,...,...
3780,341895,6029,1555164674,4229627,../Data/insta_data/9435.jpg,insta_data/9435.jpg
3781,217095,2591,1554706282,4229627,../Data/insta_data/9436.jpg,insta_data/9436.jpg
3782,17902,253,1553945996,4229627,../Data/insta_data/9437.jpg,insta_data/9437.jpg
3783,141694,1175,1552645088,4229627,../Data/insta_data/9442.jpg,insta_data/9442.jpg
3784,95348,675,1551937608,4229627,../Data/insta_data/9444.jpg,insta_data/9444.jpg

In [10]:
df['t_zeroed'] = (df['t'] - df['t'].min())//1000
df

,likes,no_of_comments,t,follower_count_at_t,image_path,filename,t_zeroed
0,154552,0,1594174009,40934474,../Data/insta_data/0.jpg,insta_data/0.jpg,104627
1,97386,0,1593571666,40934474,../Data/insta_data/2.jpg,insta_data/2.jpg,104024
2,145632,0,1593136341,40934474,../Data/insta_data/4.jpg,insta_data/4.jpg,103589
3,76461,0,1592981047,40934474,../Data/insta_data/6.jpg,insta_data/6.jpg,103434
4,174620,0,1592703461,40934474,../Data/insta_data/8.jpg,insta_data/8.jpg,103156
...,...,...,...,...,...,...,...
3780,341895,6029,1555164674,4229627,../Data/insta_data/9435.jpg,insta_data/9435.jpg,65617
3781,217095,2591,1554706282,4229627,../Data/insta_data/9436.jpg,insta_data/9436.jpg,65159
3782,17902,253,1553945996,4229627,../Data/insta_data/9437.jpg,insta_data/9437.jpg,64399
3783,141694,1175,1552645088,4229627,../Data/insta_data/9442.jpg,insta_data/9442.jpg,63098
3784,95348,675,1551937608,4229627,../Data/insta_data/9444.jpg,insta_data/9444.jpg,62390

In [11]:
# shuffle data
df = df.sample(frac=1).reset_index(drop=True)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)

In [15]:
train_df.to_csv("train.csv", index=False)
test_df.to_csv("test.csv", index=False)